    body {
        text-align: center;
        background-image: url('estadio.jpg');
        background-size: cover;
    }

    img {
        margin-top: 190px;
    }
    button {
        background-color: transparent;
        border-color: transparent;
    }
 h1 {
    color:white;
 }   